<h1>Controls</h1>
<div *ngFor="let control of controls.controls; let i = index">
    <label *ngIf="mask[i]">
        Control {{mask[i]}}
        <input [appMasked]="mask[i]" [formControl]="control">
    </label>
    <label *ngIf="!mask[i]">
        Control #{{i + 1}}
        <input *ngIf="!mask[i]" [formControl]="control" appControl="sd">
    </label>
    <pre *ngIf="control.value !== null">"{{control.value}}"</pre>
    <span *ngIf="control.value === null">null</span>
    ({{changed[i]}})
</div>
<button (click)="setText()">set text</button>
