<h1>Controls</h1>
<form novalidate>
    <div *ngFor="let control of controls.controls; let i = index" class="row form-group">
        <label class="col-lg-2 col-md-3 col-form-label" for="control{{i}}">Control {{mask[i] ? mask[i] : i + 1}}</label>
        <div class="col-lg-10 col-md-7">
            <input [appMasked]="mask[i]" [class.is-invalid]="control.touched && control.invalid"
                   [class.is-valid]="control.touched && control.valid" [formControl]="control" class="form-control"
                   id="control{{i}}"
                   required>
            <small class="form-text text-muted">
                <span *ngIf="control.value !== null">"{{control.value}}"</span>
                <ng-container *ngIf="control.value === null">null</ng-container>
                ({{changed[i]}})
            </small>
            <div *ngIf="control.hasError('required')" class="invalid-feedback">
                Необходимо заполнить
            </div>
            <div *ngIf="control.hasError('incomplete')" class="invalid-feedback">
                Заполнено не полностью
            </div>
            <div *ngIf="control.hasError('incorrect')" class="invalid-feedback">
                Неверный формат
            </div>
        </div>
    </div>
    <button (click)="setText()" class="btn btn-secondary">set text</button>
</form>
